<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-schedule-heading" data-cy="ScheduleCreateUpdateHeading">Create or edit a Schedule</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateTime">Date Time</label>
          <div class="input-group">
            <input
              id="field_dateTime"
              data-cy="dateTime"
              type="text"
              class="form-control"
              name="dateTime"
              ngbDatepicker
              #dateTimeDp="ngbDatepicker"
              formControlName="dateTime"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_availableSlots">Available Slots</label>
          <input
            type="number"
            class="form-control"
            name="availableSlots"
            id="field_availableSlots"
            data-cy="availableSlots"
            formControlName="availableSlots"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_schLoc">Sch Loc</label>
          <select class="form-control" id="field_schLoc" data-cy="schLoc" name="schLoc" formControlName="schLoc">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="locationOption.id === editForm.get('schLoc')!.value?.id ? editForm.get('schLoc')!.value : locationOption"
              *ngFor="let locationOption of locationsSharedCollection; trackBy: trackLocationById"
            >
              {{ locationOption.branchName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_schFit">Sch Fit</label>
          <select class="form-control" id="field_schFit" data-cy="schFit" name="schFit" formControlName="schFit">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="fitnessClassOption.id === editForm.get('schFit')!.value?.id ? editForm.get('schFit')!.value : fitnessClassOption"
              *ngFor="let fitnessClassOption of fitnessClassesSharedCollection; trackBy: trackFitnessClassById"
            >
              {{ fitnessClassOption.className }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
